<html>
<head>
  <title>Flask Intro - Login Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <style>
    body {
      background-color: #3e3e3e;
      color: white;
    }
    .container {
      margin-top: 100px;
      text-align: center;
    }
    h1 {
      color: #ffffff;
    }
    .btn-default {
      background-color: #32CD32;
      color: white;
    }
    .btn-default:hover {
      background-color: #228B22;
      color: white;
    }
    .error {
      color: red;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Please Login</h1>
    <br>
    <form action="" method="post">
      <input type="text" class="form-control" placeholder="Username" name="username" value="{{ request.form.username }}">
      <br>
      <input type="password" class="form-control" placeholder="Password" name="password" value="{{ request.form.password }}">
      <br>
      <input class="btn btn-default" type="submit" value="Login">
    </form>
    {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
  </div>
</body>
</html>

